.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-hero1 {
  height: auto;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM0fHxhYnN0cmFjdHxlbnwwfHx8fDE3MTIxNDQwNDd8MA&ixlib=rb-4.0.3&w=1500");
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
