.rewards-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.rewards-text {
  top: 946px;
  left: 42%;
  color: rgb(255, 255, 255);
  width: auto;
  margin: auto;
  position: absolute;
  font-family: "Caveat Brush";
  padding-top: var(--dl-space-space-unit);
  border-color: #32dfec;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 40px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(35, 35, 35);
}
.rewards-text01 {
  top: 222px;
  left: 40%;
  color: rgb(255, 255, 255);
  width: auto;
  margin: auto;
  position: absolute;
  font-family: "Caveat Brush";
  padding-top: var(--dl-space-space-unit);
  border-color: #32dfec;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 40px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(35, 35, 35);
}
.rewards-hero {
  width: 100%;
  height: 924px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rewards-container01 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.rewards-text02 {
  font-size: 3rem;
  max-width: 450px;
}
.rewards-text03 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.rewards-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.rewards-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.rewards-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.rewards-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.rewards-button1:hover {
  border-color: var(--dl-color-gray-black);
}
.rewards-image {
  width: 400px;
  object-fit: cover;
}
.rewards-container02 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rewards-container03 {
  top: 314px;
  left: 53px;
  right: 53px;
  width: 95%;
  height: 575px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-custom-purplee);
  border-width: 1px;
  border-radius: 15px;
  flex-direction: column;
}
.rewards-container04 {
  flex: 0 0 auto;
  right: 73px;
  width: 646px;
  bottom: 48px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #32dfec;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
}
.rewards-icon {
  top: 10px;
  fill: #32dfec;
  left: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.rewards-text10 {
  top: 25px;
  left: 100px;
  color: var(--dl-color-custom-bluee);
  right: 257px;
  width: auto;
  bottom: 46px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-text11 {
  left: 15px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 5px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-button2 {
  right: 50px;
  bottom: 27px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--dl-color-custom-purplee);
}
.rewards-container05 {
  top: 292px;
  flex: 0 0 auto;
  right: 73px;
  width: 646px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #32dfec;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.rewards-icon02 {
  top: 10px;
  fill: #32dfec;
  left: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.rewards-text12 {
  top: 25px;
  left: 100px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 41px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-text13 {
  left: 15px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 5px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-button3 {
  right: 50px;
  bottom: 28px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--dl-color-custom-purplee);
}
.rewards-container06 {
  top: 149px;
  flex: 0 0 auto;
  right: 72px;
  width: 646px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #32dfec;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
}
.rewards-icon04 {
  top: 10px;
  fill: #32dfec;
  left: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.rewards-text14 {
  top: 25px;
  left: 100px;
  color: var(--dl-color-custom-bluee);
  right: 206px;
  width: auto;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-text15 {
  left: 15px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 5px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-button4 {
  top: 25px;
  right: 30px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--dl-color-custom-purplee);
}
.rewards-container07 {
  top: 429px;
  flex: 0 0 auto;
  left: 26px;
  width: 646px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #32dfec;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
}
.rewards-icon06 {
  top: 10px;
  fill: #32dfec;
  left: 25px;
  width: 50px;
  bottom: 34px;
  height: 50px;
  position: absolute;
}
.rewards-text16 {
  top: 25px;
  left: 100px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 49px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-text17 {
  left: 15px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 5px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-button5 {
  right: 30px;
  bottom: 27px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--dl-color-custom-purplee);
}
.rewards-container08 {
  top: 290px;
  flex: 0 0 auto;
  left: 24px;
  width: 646px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #32dfec;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
.rewards-icon08 {
  top: 10px;
  fill: #32dfec;
  left: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.rewards-text18 {
  left: 93px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 47px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-text19 {
  left: 15px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 5px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-button6 {
  top: 24px;
  right: 50px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--dl-color-custom-purplee);
}
.rewards-container09 {
  top: 154px;
  left: 23px;
  width: 646px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #32dfec;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
.rewards-icon10 {
  top: 10px;
  fill: var(--dl-color-custom-bluee);
  left: 25px;
  width: 50px;
  bottom: 41px;
  height: 50px;
  position: absolute;
}
.rewards-text20 {
  left: 15px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  bottom: 5px;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-text21 {
  top: 25px;
  left: 100px;
  color: var(--dl-color-custom-bluee);
  width: auto;
  position: absolute;
  font-size: 25px;
  font-family: "Caveat Brush";
}
.rewards-button7 {
  right: 50px;
  bottom: 28px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--dl-color-custom-purplee);
}
.rewards-text22 {
  top: 71px;
  left: 86px;
  color: var(--dl-color-custom-bluee);
  position: absolute;
  font-family: "Caveat Brush";
}
.rewards-icon12 {
  top: 67px;
  fill: var(--dl-color-custom-bluee);
  left: 32px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.rewards-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 412px;
  display: flex;
  margin-top: 100px;
  align-items: flex-start;
  justify-content: center;
}
.rewards-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 412px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.rewards-container12 {
  flex: 0 0 auto;
  width: auto;
  height: 412px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
@media(max-width: 991px) {
  .rewards-hero {
    flex-direction: column;
  }
  .rewards-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .rewards-text02 {
    text-align: center;
  }
  .rewards-text03 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .rewards-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rewards-text03 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .rewards-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .rewards-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .rewards-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .rewards-btn-group {
    flex-direction: column;
  }
  .rewards-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
