.login-form-container {
  width: 100%;
  height: 419px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.login-form-container1 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  border-radius: 40px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-custom-secondary1);
}
.login-form-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.login-form-text {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
.login-form-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-form-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-form-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-form-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.login-form-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-form-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-form-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-form-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-form-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-form-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-form-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-form-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-form-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-form-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-form-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-form-text5 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-form-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-form-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-form-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-form-text6 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-form-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.login-form-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-form-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.login-form-text7 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.login-form-textinput {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-500);
}
.login-form-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.login-form-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-form-input {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-500);
}
.login-form-container7 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-form-button {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 30px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #e320aa;
}
.login-form-container8 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-form-text8 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.login-form-navlink {
  color: var(--dl-color-custom-bluee);
  align-self: center;
  text-decoration: none;
}
.login-form-root-class-name {
  width: 100%;
  height: 100%;
}
@media(max-width: 1200px) {
  .login-form-container1 {
    width: 60%;
    height: auto;
  }
  .login-form-text {
    color: var(--dl-color-gray-500);
  }
  .login-form-dropdown-list {
    width: 60px;
    bottom: 100%;
    margin-left: var(--dl-space-space-unit);
  }
  .login-form-dropdown-toggle {
    margin-left: var(--dl-space-space-unit);
  }
  .login-form-text3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .login-form-dropdown-toggle1 {
    margin-left: var(--dl-space-space-unit);
  }
  .login-form-text4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .login-form-dropdown-toggle2 {
    margin-left: var(--dl-space-space-unit);
  }
  .login-form-text5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .login-form-dropdown-toggle3 {
    margin-left: var(--dl-space-space-unit);
  }
  .login-form-text6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .login-form-dropdown-toggle4 {
    margin-left: var(--dl-space-space-unit);
  }
  .login-form-text7 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .login-form-input {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: unit;
  }
}
@media(max-width: 479px) {
  .login-form-container7 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .login-form-container8 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
