.month-popup1-testimonial-card {
  width: 388px;
  height: 557px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  padding-top: 20px;
  padding-left: 13px;
  border-radius: 10%;
  margin-bottom: 43px;
  padding-right: 21px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #a378ff;
}
.month-popup1-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.month-popup1-container1 {
  width: 308px;
  height: 439px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.month-popup1-laundary {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.month-popup1-laundry-txt {
  font-size: 35px;
  font-family: "Caveat Brush";
}
.month-popup1-text {
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-text01 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-text02 {
  font-size: 30px;
  align-self: flex-end;
  font-style: normal;
  font-family: "Caveat Brush";
  font-weight: 700;
  margin-left: var(--dl-space-space-sixunits);
}
.month-popup1-laundary1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.month-popup1-hostel-txt {
  font-size: 35px;
  font-family: "Caveat Brush";
}
.month-popup1-text03 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-text04 {
  font-size: 30px;
  align-self: flex-end;
  font-style: normal;
  font-family: "Caveat Brush";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-laundary2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.month-popup1-mess-txt {
  font-size: 35px;
  align-self: flex-end;
  font-family: "Caveat Brush";
}
.month-popup1-text05 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-text06 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-text07 {
  font-size: 30px;
  align-self: flex-end;
  font-style: normal;
  font-family: "Caveat Brush";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-laundary3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.month-popup1-gym-txt {
  font-size: 35px;
  align-self: flex-start;
  font-family: "Caveat Brush";
}
.month-popup1-text08 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-text09 {
  font-size: 30px;
  align-self: flex-end;
  font-style: normal;
  font-family: "Caveat Brush";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.month-popup1-image {
  width: 275px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
}
.month-popup1-container2 {
  width: 221px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.month-popup1-laundry-txt1 {
  font-size: 50px;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  font-family: "Caveat Brush";
  margin-left: 0px;
  margin-right: 0px;
}
@media(max-width: 1200px) {
  .month-popup1-image {
    margin-top: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .month-popup1-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .month-popup1-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
