.resource-card-container {
  width: 100%;
  height: 211px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.resource-card-feature-card {
  width: 903px;
  height: 146px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f6d656;
}
.resource-card-feature-card:hover {
  transform: scale(1.02);
}
.resource-card-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-container04 {
  flex: 0 0 auto;
  width: 36px;
  height: 46px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-name {
  width: 274px;
  height: auto;
  margin-left: var(--dl-space-space-twounits);
}
.resource-card-name1 {
  width: 274px;
  height: auto;
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-left: var(--dl-space-space-threeunits);
}
.resource-card-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-text {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  font-weight: 600;
  border-radius: 30px;
}
.resource-card-name2 {
  color: var(--dl-color-primary-100);
  width: 274px;
  height: auto;
  font-size: 14px;
  font-style: normal;
  margin-top: 6px;
  font-weight: 500;
  margin-left: 170px;
}
.resource-card-container06 {
  flex: 0 0 auto;
  width: auto;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.resource-card-container07 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.resource-card-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resource-card-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.resource-card-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 108px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.resource-card-text01 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.resource-card-dropdown-arrow {
  transition: 0.3s;
}
.resource-card-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.resource-card-dropdown-list {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.resource-card-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.resource-card-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.resource-card-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.resource-card-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.resource-card-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.resource-card-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.resource-card-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.resource-card-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.resource-card-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.resource-card-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.resource-card-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.resource-card-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.resource-card-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.resource-card-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.resource-card-text11 {
  font-size: 30px;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
}
.resource-card-icon2 {
  width: 24px;
  height: 24px;
}
.resource-card-root-class-name {
  margin-top: 225px;
}





@media(max-width: 1200px) {
  .resource-card-feature-card {
    width: auto;
    background-color: #f6d656;
  }
  .resource-card-text {
    margin-top: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-unit);
  }
  .resource-card-root-class-name {
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: 0px;
  }
  .resource-card-root-class-name1 {
    margin-bottom: 0px;
  }
  .resource-card-root-class-name2 {
    margin-bottom: 0px;
  }
  .resource-card-root-class-name3 {
    margin-bottom: 0px;
  }
}
