.reward3-testimonial-card {
  width: 388px;
  height: 412px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 7px 5px 15px 0px #f7f7f7;
  align-items: center;
  padding-top: 20px;
  padding-left: 13px;
  border-radius: 10%;
  padding-right: 21px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #a378ff;
}
.reward3-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.reward3-container1 {
  width: 288px;
  height: 120.75px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.reward3-image {
  width: 50%;
  height: 111px;
  object-fit: cover;
}
.reward3-container2 {
  width: 263px;
  height: 158px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.reward3-laundary {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.reward3-laundry-txt {
  font-size: 40px;
  font-family: "Caveat Brush";
}
.reward3-laundary1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.reward3-laundry-txt1 {
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
}
.reward3-total {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.reward3-container3 {
  width: 269px;
  height: 156px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.reward3-laundry-txt2 {
  font-size: 35px;
  align-self: center;
  margin-top: 0px;
  font-family: "Caveat Brush";
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.reward3-button {
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-xlarge);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-radius: 40px;
  margin-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.reward3-root-class-name {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .reward3-container3 {
    width: 256px;
    height: 91px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .reward3-laundry-txt2 {
    font-size: 40px;
    align-self: center;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .reward3-button {
    color: var(--dl-color-gray-white);
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-white);
    border-width: 0px;
    border-radius: 40px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #060606;
  }
}
@media(max-width: 767px) {
  .reward3-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .reward3-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
